<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.7.12.11" targetFramework="net472" />
  <package id="AWSSDK.DynamoDBv2" version="3.7.3.59" targetFramework="net472" />
  <package id="AWSSDK.S3" version="3.7.9.28" targetFramework="net472" />
  <package id="Dapper" version="2.0.123" targetFramework="net472" />
  <package id="DataManagementModelsStandard" version="1.0.0.3" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="System.CodeDom" version="6.0.0" targetFramework="net472" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net472" />
  <package id="TheTechIdea.Beep.DataManagementEngine2.0" version="1.0.0.28" targetFramework="net472" />
  <package id="TheTechIdea.Beep.DataManagementModels2.0" version="1.0.0.14" targetFramework="net472" />
</packages>